.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;

  input {
    margin: 20px 10px;
  }

  &__input {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin: 0;
    }
  }

  &__radios {
    display: flex;
    align-items: center;


  }
}

.invalid {
  border: 1px solid red;
}
