.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;

  &__input {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin: 0;
    }
  }
}

.invalid {
  border: 1px solid red;
}