.Pokecard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: #fff;
  border-radius: 5px;
  margin: 0 30px 10px 0;
  //padding-bottom: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 10px 6px 10px -5px rgba(0, 0, 0, 0.2);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
  }

  & h3 {
    margin: 15px 0 0;
  }

  &__type {
    margin: 0 0 10px;
  }

  &__exp {
    margin: 0;
  }

  &__figure {
    margin: 1rem 0.7rem;
    overflow: hidden;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 0 30px;
    background-color: #f1f0f0;
    border-radius: 3px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
